@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
  margin: 0; padding: 0; border: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 100;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(37, 34, 36);
}
header{
  position: fixed;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0em;
  z-index: 1000;
}
nav {
  display: block;
}
li{
  display: inline-block;
  width: 5em;
  line-height: 3em;
  text-align: center;
}
ul{
  display: flex;
  justify-content: flex-end;
}
.projectContent ul{
  display: block;
  list-style: disc;
  list-style-position: inside;
  justify-content: space-between;
  padding-inline-start: 2em;
}
.projectContent li{
  display: list-item;
  width: 100%;
  margin-bottom: -1em;
  text-align: left;
}
.projectContent p{
  display: inline;
}
footer{
  line-height: 1.5em;
  background-color: rgb(60, 60, 64);
  text-align: center;
}
h1{
  font-size: 1.5em;
  font-family: "Quicksand", Helvetica;
}
a{
  text-decoration: none;
  display: block;
}
p{
  text-decoration: none;
  display: block;
}
div.container{
  width: 100%;
  margin: auto;
  background-color: rgb(37, 34, 36);
}
div.wrapper{
  width:  80%;
  max-width: 1500px;
  margin: auto;
}
h1.displayNameSmall{
  font-size: 0px;
  width: 0%;
  height: 0%;
  text-align: center;
}
h1.displayNameSmaller{
  font-size: 0px;
  width: 0%;
  height: 0%;
  text-align: center;
}
li.displayName{
  display: inline-block;
  width: 120%;
  line-height: 3em;
  text-align: left;
  flex: 8;
}
.displayName h1{
  font-size: 2em;
}
.navOption, .navOption a{
  flex-grow: 0.25;
  -webkit-flex-grow: 0.25;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 10px;
  border: 1px solid rgb(91, 91, 95, 0);
}
.navOption a:hover {
  border: 1px solid rgb(88, 174, 255);
}
.navOption:hover{
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.projectContent a{
  flex-grow: 0.25;
  -webkit-flex-grow: 0.25;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 10px;
  border: 1px solid rgb(91, 91, 95, 0);
  display: inline;
  padding:0.1em;
  color: rgb(88, 174, 255);
}
.projectContent a:hover {
  border: 1px solid rgb(88, 174, 255);
  padding-left:1em;
  padding-right:1em;
}
.projectContent:hover{
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
div.video{
  width: 100%;
  padding-top: 4em;
  padding-bottom: 1.5em;
  margin-bottom: -1%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  overflow: hidden;
  display: block;
}
.video video{
  width: 50%;
  z-index: -1;
  pointer-events: none;
  display: inline-block;
  vertical-align: baseline;
  object-fit: contain;
  overflow: clip;
}
div.projectDisplay{
  width: 100%;
  padding: 0;
  margin-bottom: -1%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  overflow: hidden;
  display: block;
}
.projectDisplay img{
  width: 100%;
  height: 30em;
  z-index: -10;
  pointer-events: none;
  vertical-align: baseline;
  object-fit: cover;
  overflow: clip;
}
strong {
  font-weight: bold;
}
table {
  border-spacing: 0;
  text-indent: initial;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
}
td {
  display: table-cell;
  vertical-align: inherit;
  padding: 0.5em;
}
div.about{
  width: 100%;
  padding: 2em;
  margin: auto;
  background-color: rgb(40, 40, 71);
}
div.about_project{
  width: 100%;
  padding: 2em;
  margin: auto;
  background-color: rgb(40, 40, 71);
  text-align: center;
}
.about h1{
  font-size: 3em;
  padding-bottom: 0.2em;
}
.about_project h1{
  font-size: 3em;
  padding-bottom: 0.2em;
}
div.projectModule{
  min-width: 100%;
  margin: 1em;
  text-align: center;
}
div.qualities{
  margin: auto;
  display: grid;
  padding-top: 1em;
  padding-bottom: 1em;
  gap: 0.5em;
  grid-template-columns: repeat(5, 1fr);
}
.qualities p{
  background-color: rgb(74, 46, 46);
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 10px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;

}
.qualities p{
  border: 1px solid rgb(91, 91, 95, 0);
}
.qualities p:hover{
  padding-left: 2em;
  padding-right: 2em;
  z-index: 99;
  border: 1px solid rgb(88, 174, 255);
}
p.modding{
  background-color: rgb(151, 90, 147);
}
p.unity{
  background-color: rgb(114, 118, 139);
}
p.csharp{
  background-color: rgb(94, 135, 221);
}
p.maya{
  background-color: rgb(46, 140, 163);
}
p.bifrost{
  background-color: rgb(93, 90, 134);
}
p.java{
  background-color: rgb(211, 61, 96);
}
p.datapack{
  background-color: rgb(147, 60, 85);
}
p.projectDescription{
  text-align: left;
}
p.collaborationDescription{
  text-align: left;
  padding-top: 1em;
}
div.project{
  width: 100%;
  padding: 1em;
  margin: auto;
  background-color: rgb(29, 23, 27);
}
div.projectContent{
  width: 100%;
  padding: 1em;
  margin: auto;
  background-color: rgb(29, 23, 27);
}
div.projectContentGrey{
  width: 100%;
  padding: 1em;
  margin: auto;
  background-color: rgb(17, 13, 16);
}
.project h1{
  font-size: 2em;
  padding-bottom: 0.2em;
}
.projectContent h1{
  font-size: 2em;
  padding-bottom: 0.2em;
}
.projectContent h2{
  font-size: 1.2em;
  padding-bottom: 0.2em;
}
.projectContent video{
  width: 100%;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  pointer-events: none;
  margin: auto;
}
.projectContent img{
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
div.projectImage:hover{
  transform: scale(1.05);
  z-index: 100;
  border: 1px solid rgb(88, 174, 255);
}
div.projectImage{
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: 1px solid rgb(91, 91, 95);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.projectImage h1, .projectImage h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.projectImage h1{
  text-align:left;
  padding-left: 0.5em;
}
.projectImage:hover h1{
  font-size: 1.6em;
}
.projectImage:hover h2{
  font-size: 1.1em;
}
div.projectList{
  width:  80%;
  max-width: 1500px;
  margin: auto;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}
div.contact{
  width: 100%;
  padding: 1em;
  margin: auto;
  background-color: rgb(29, 23, 27);
}
.contact h1{
  font-size: 2em;
  padding-bottom: 0.2em;
}
div.contactList{
  width:  80%;
  max-width: 800px;
  margin: auto;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(5, 1fr);
}
div.collaborationList{
  width:  80%;
  max-width: 1500px;
  margin: auto;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 1fr);
}

.loaderWrapper {
  width:100%;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(37, 34, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.loaderBorder {
  display: inline-block;
  width: 2em;
  height: 2em;
  position: relative;
  border: 2px solid rgb(91, 91, 95);
  animation: loaderBorder 2s infinite ease;
  border-radius: 2px;
}

.loaderContent {
  display: inline-block;
  width: 60%;
  height: 60%;
  background-color: rgb(91, 91, 95);
  animation: loaderContent 2s infinite ease;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes loaderBorder {
  0% {
    transform: scale(100%);
    transform: rotate(0deg);
    border: 2px solid rgb(91, 91, 95);
  }
  25% {
    transform: scale(150%);
    border: 2px solid rgb(88, 174, 255);
  }
  50% {
    transform: scale(150%);
    border: 2px solid rgb(88, 174, 255);
  }
  75% {
    transform: scale(100%) rotate(180deg);
    border: 2px solid rgb(91, 91, 95);
  }
  100% {
    transform: scale(100%) rotate(180deg);
    border: 2px solid rgb(91, 91, 95);
  }
}

@keyframes loaderContent {
  0% {
    transform: scale(100%);
    background-color: rgb(91, 91, 95);
  }
  20% {
    background-color: rgb(255, 255, 255);
    transform: scale(30%) rotate(180deg);
  }
  45% {
    background-color: rgb(255, 255, 255);
    transform: scale(30%) rotate(180deg);
  }
  70% {
    transform: scale(100%);
    background-color: rgb(91, 91, 95);
  }
  95% {
    transform: scale(100%);
    background-color: rgb(91, 91, 95);
  }
}

@media screen and (max-width: 1600px) {
  div.projectList{
    width:  80%;
    max-width: 1500px;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
  div.contactList{
    width:  80%;
    max-width: 800px;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
  }
  div.collaborationList{
    width:  80%;
    max-width: 1500px;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
  }
  h1.displayNameSmall{
    font-size: 2em;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  h1.displayNameSmaller{
    font-size: 0px;
    width: 0%;
    height: 0%;
    text-align: center;
  }
  li.displayName{
    display: inline;
    font-size: 0px;
    padding: 0px;
    width: 0%;
    line-height: 0em;
    text-align: left;
    flex: 0;
  }
  .navOption, .navOption a{
    flex-grow: 0.25;
    -webkit-flex-grow: 0.25;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-radius: 10px;
    border: 1px solid rgb(91, 91, 95, 0);
    padding:0.5em;
  }
  div.video{
    width: 100%;
    padding-top: 8.5em;
    padding-bottom: 1.5em;
    margin-bottom: -1%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
    display: block;
  }
  .video video{
    width: 80%;
    z-index: -1;
    pointer-events: none;
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    overflow: clip;
  }
  div.projectDisplay{
    width: 100%;
    padding: 0;
    margin-bottom: -1%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
    display: block;
  }
  .projectDisplay img{
    max-width: 100%;
    height: 30em;
    z-index: -10;
    pointer-events: none;
    vertical-align: baseline;
    object-fit: cover;
    overflow: clip;
  }
}

@media screen and (max-width: 1000px) {
  div.projectList{
    width:  80%;
    max-width: 1500px;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(1, 1fr);
  }
  div.contactList{
    width:  80%;
    max-width: 800px;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
  div.collaborationList{
    width:  80%;
    max-width: 1500px;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
  .navOption, .navOption a{
    flex-grow: 0.25;
    -webkit-flex-grow: 0.25;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-radius: 10px;
    border: 1px solid rgb(91, 91, 95, 0);
    padding:0.2em;
  }
  div.video{
    width: 100%;
    padding-top: 8.5em;
    padding-bottom: 1.5em;
    margin-bottom: -1%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
    display: block;
  }
  .video video{
    width: 100%;
    z-index: -1;
    pointer-events: none;
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    overflow: clip;
  }
  h1.displayNameSmaller{
    font-size: 2em;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  h1.displayNameSmall{
    font-size: 0px;
    width: 0%;
    height: 0%;
    text-align: center;
  }
  .projectContent a:hover {
    border: 1px solid rgb(88, 174, 255);
    padding-left:0.1em;
    padding-right:0.1em;
  }
}